.btn {
  $root: &;

  display: flex;
  width: fit-content;
  height: 4.4rem;
  padding: 0 1.8rem;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: $color-text;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  @include transition((background, color, opacity, border-color));
  min-width: 20rem;

  @include hover {
    background: $color-primary;
  }

  &:disabled,
  &._disabled {
    opacity: .7;

    @include hover {
      background: $color-text;
    }
  }

  &._sm {
    height: 3.2rem;
    padding: 0 1.8rem;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    font-size: 1.4rem;
    min-width: unset;
  }

  &._primary {
    background: $color-primary;

    @include hover {
      background: $color-text;
    }

    &:disabled,
    &._disabled {
      @include hover {
        background: $color-primary;
      }
    }
  }

  &._outline {
    background: $color-white;
    color: $color-text;
    border: .1rem solid $color-text-gray-50;

    @include hover {
      border-color: $color-text;
      background: $color-white;
    }

    &:disabled,
    &._disabled {
      @include hover {
        border-color: $color-text-gray-50;
      }
    }
  }

  &._link {
    background: none;
    color: $color-text;
    border: none;
    padding: 0;
    height: auto;

    @include hover {
      color: $color-primary;
    }
  }

  &._link-muted {
    background: none;
    color: $color-text-gray-50;
    border: none;
    padding: 0;
    height: auto;

    @include hover {
      color: $color-text;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;

    &:first-child {
      margin-left: -.8rem;
    }

    &:last-child {
      margin-right: -.8rem;
    }
  }

  &._wide-sm {
    @include down(sm) {
      width: 100%;
    }
  }
}
