.btn {
  $root: &;

  display: inline-flex;
  width: fit-content;
  height: 4.4rem;
  padding: 0 1.8rem;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: $color-text;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 500;
  @include transition((background, opacity));
  min-width: 20rem;

  @include hover {
    background: $color-primary;
  }

  &:disabled,
  &._disabled {
    opacity: .7;

    @include hover {
      background: $color-text;
    }
  }


  &._primary {
    background: $color-primary;

    @include hover {
      background: $color-text;
    }

    &:disabled,
    &._disabled {
      @include hover {
        background: $color-primary;
      }
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;

    &:first-child {
      margin-left: -.8rem;
    }

    &:last-child {
      margin-right: -.8rem;
    }
  }

  &._wide-sm {
    @include down(sm) {
      width: 100%;
    }
  }
}
