.form {
  $root: &;

  background: $color-white;
  padding: 2.4rem;

  &__inner {
    display: grid;
    gap: 1.6rem 4.8rem;

    @include up(md) {
      grid-template-columns: 1fr 1fr;
    }

    #{$root}._hidden & {
      opacity: 0;
      visibility: hidden;
    }

    #{$root}._loading & {
      opacity: 0;
    }
  }

  &__row {
    @include up(md) {
      grid-column-end: span 2;
    }
  }

  &__header {
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  &__agree {
    font-size: 1.2rem;
    color: $color-text-gray;

    a {
      text-decoration: underline;
      @include transition(color);

      @include hover {
        color: $color-text;
      }
    }
  }

  &__rating {
    $rating: &;

    margin-top: 1.2rem;
    display: flex;
    width: fit-content;
    cursor: pointer;

    @include hover {
      #{$rating}__item {
        color: $color-primary !important;
      }
    }

    &__item {
      padding-inline: .4rem;
      @include transition(color);
      color: $color-primary;

      &._active~#{$rating}__item {
        color: $color-text-gray-30;
      }

      @include hover {
        ~#{$rating}__item {
          color: $color-text-gray-30 !important;
        }
      }

      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      input {
        position: absolute;
        opacity: 0;
        appearance: none;
      }

      .svgsprite {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
      }

      label {
        cursor: pointer;
      }
    }
  }
}
