.main-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 5.4rem;

  @include up(xxl) {
    gap: 6.2rem;
  }

  &__section {
    &__inner {
      display: grid;
      gap: 2.4rem;
    }
  }

  &__h3 {
    color: $color-text-gray;
    text-align: center;
  }

  &__btn {
    justify-self: center;
  }
}