.page-header {
  $root: &;

  padding-block: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;

  &__lead {
    font-size: 1.8rem;

    @include up(lg) {
      font-size: 2.4rem;
      max-width: 75%;
    }
  }
}
