.article-intro {
  $root: &;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.2rem;

  // &__title {
  //   font-size: 2.4rem;
  //   font-weight: 500;
  //   line-height: 1.2;

  //   @include up(md) {
  //     font-size: 3.6rem;
  //   }
  // }

  &__picture {
    aspect-ratio: 359 / 167;
  }

  &__lead {
    font-size: 1.6rem;

    @include up(md) {
      font-size: 2.4rem;
    }

    a {
      @include link-primary-dark;
      text-decoration: underline;
    }
  }
}
