// rte content
.rte {
  font-size: 1.2rem;

  @include up(md) {
    font-size: 1.6rem;
  }

  >* {
    break-inside: avoid;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }

  h4 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;

    @include up(md) {
      font-size: 1.6rem;
    }

    &:not(:last-child) {
      margin-bottom: .5em;
    }
  }

  ul,
  ol {
    padding-inline-start: 2rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    max-width: 100%;
  }

  a {
    @include link-primary-dark;
    text-decoration: underline;
  }
}
