.input-common {
  $root: &;


  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  width: 100%;


  &__inner {
    #{$root}._is-number & {
      padding-inline: 3.6rem;
    }
  }

  &__input {
    background: transparent;
    border-color: $color-text-gray-50;
    border-style: solid;
    border-width: 0 0 .1rem 0;
    color: $color-text;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 3.8rem;
    font-size: 1.8rem;

    .body._loaded & {
      @include transition((border, color));
    }

    &[type='number'] {
      text-align: center;
    }

    &[type='file'] {
      cursor: pointer;

      &::-webkit-file-upload-button {
        display: none;
      }

      #{$root}._drag-over & {
        border-style: dashed;
        border-color: var(--control-state-bg06-outline);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    &[type="time"] {
      &::-webkit-calendar-picker-indicator {
        z-index: 1;

        @include alt-color-light {
          filter: brightness(0) saturate(100%) invert(8%) sepia(45%) saturate(1063%) hue-rotate(178deg) brightness(97%) contrast(90%);
        }

        @include alt-color-dark {
          filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(477%) hue-rotate(207deg) brightness(114%) contrast(100%);
        }

        @include alt-color-c-light {
          filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
        }

        @include alt-color-c-dark {
          filter: brightness(0) saturate(100%) invert(95%) sepia(12%) saturate(772%) hue-rotate(349deg) brightness(107%) contrast(106%);
        }

        @include alt-color-c-blue {
          filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7499%) hue-rotate(272deg) brightness(95%) contrast(100%);
        }
      }

      &::-webkit-inner-spin-button,
      &::-webkit-clear-button,
      & {
        appearance: none;
      }
    }

    &[type="password"] {
      ~#{$root}__button-password {
        .svgsprite._hide {
          display: none;
        }
      }
    }

    &[type="text"] {
      ~#{$root}__button-password {
        .svgsprite._show {
          display: none;
        }
      }
    }

    #{$root}._is-password & {
      padding-right: 4rem;
    }

    &[aria-expanded="true"]~#{$root}__icon {
      transform: rotate(180deg);
    }

    &:not(:disabled) {

      &.js-datepicker__input,
      &.js-multiselect__input {
        cursor: pointer;
      }
    }

    &::placeholder {
      color: $color-text-gray-50;
    }

    &._textarea {
      resize: none;
      padding-block: .4em;
      @include hideScrollbar;
    }

    @include hover-mouse-only {
      &:hover {
        border-bottom-color: $color-text;
      }
    }

    &._focus,
    &:focus {
      border-bottom-color: $color-text;
    }

    &:disabled {
      cursor: not-allowed;
      border-bottom-color: $color-text-gray-30;
      color: $color-text-gray-50;

      &::placeholder {
        border-bottom-color: $color-text-gray-30;
      }
    }

    #{$root}._error & {
      border-bottom-color: $color-red;
    }
  }

  &__label {
    display: block;
    font-size: 1.4rem;
    color: $color-text-gray;

    #{$root}._is-file & {
      background: var(--control-default-bg02);
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    #{$root}._disabled & {
      cursor: not-allowed;
    }

    #{$root}._is-time & {
      background: var(--control-default-bg02);
    }

    #{$root}._is-time._filled & {
      background: transparent;
    }

    #{$root}._is-time._disabled & {
      background: var(--control-state-bg-disabled);
      color: var(--typography-default-tertiary);
      opacity: 1;

      #{$root}__required {
        opacity: .4;
      }
    }

    #{$root}._btn-outside-on-mobile & {
      @include down(sm) {
        padding-right: 0 !important;
      }
    }
  }

  &__required {
    margin-left: .2em;
    color: $color-red;
  }

  &__icon {
    color: var(--control-default-typo01);
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    @include transition(transform);

    #{$root}._disabled & {
      opacity: .4;
    }
  }

  &__message {
    display: block;
    margin-top: .4rem;
    color: $color-red;
    font-size: 1.2rem;

    .body._loaded & {
      @include transition((opacity, visibility));
    }

    &._hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__caption {
    color: $color-text-gray;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    display: block;
    margin-top: .4rem;

    &._hidden {
      display: none;
    }
  }

  &__button {
    #{$root}._hide-btn-text-on-mobile & {
      span {
        @include down(sm) {
          display: none;
        }
      }
    }

    #{$root}._hide-btn-svg-on-md & {
      svg {
        @include up(md) {
          display: none;
        }
      }
    }

    #{$root}._btn-outside-on-mobile &:not(._rounded) {
      @include down(sm) {
        width: 100%;
      }
    }

    #{$root}._btn-outside-on-mobile &._clear {
      @include down(sm) {
        position: absolute;
        transform: translateY(-50%);
      }
    }

    #{$root}._is-file & {
      cursor: pointer;
    }

    &._rounded:first-child:not(:last-child) {
      @include up(lg) {
        margin-right: 1rem;
      }
    }
  }

  &__buttons {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: .8rem;
    top: 0;
    right: 0;

    #{$root}._btn-outside-on-mobile & {
      @include down(sm) {
        min-height: auto !important;
        padding: 0 !important;
        position: static;
        width: 100%;
        margin-top: 1.6rem;
      }
    }
  }

  &__button-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    color: $color-text-gray-50;

    @include transition(color);

    &:disabled {
      color: $color-text-gray-30;
    }

    &:not(:disabled) {
      @include hover {
        color: $color-text;
      }
    }

    .svgsprite {
      width: 3.2rem;
      height: 3.2rem;
    }

    &._minus {
      left: 0;
    }

    &._plus {
      right: 0;
    }
  }

  &__file-item {
    display: flex;
    flex-direction: column;
    grid-gap: .6rem;

    &__title {
      font-style: normal;
      font-weight: 400;
      line-height: 1.4;
      font-size: 1.6rem;
      color: var(--typography-default-link);
    }

    &__btns {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      grid-gap: 1rem;
    }

    &__info {
      background: var(--surface-default-surface2);
      border-radius: .8rem;
      width: fit-content;
      display: flex;
      align-items: center;
      grid-gap: .6rem;
      color: var(--typography-default-primary);
      padding: 1rem 1rem .8rem;
      font-size: 1.3rem;
      border: .2rem solid var(--additional-outline);

      svg {
        width: 1.4rem;
        height: 1.4rem;
        top: -.2rem;
        color: var(--typography-header-footer-typo03);
      }
    }

    &__delete {
      font-style: normal;
      font-weight: 700;
      line-height: 1.4;
      color: var(--button-default-bg05);
      display: flex;
      align-items: center;
      width: fit-content;
    }
  }

  &__file-list {
    display: flex;
    flex-direction: column;

    &._hidden {
      display: none;
    }
  }

  &._is-tel {
    #{$root}__input {
      padding-left: var(--padding-left-input) !important;
    }

    &:not(._label-outside, ._filled) #{$root}__label {
      left: var(--padding-left-input) !important;
    }
  }

  &__button-password {
    position: absolute;
    right: 0;
    top: 0;
    width: 3.6rem;
    height: 3.6rem;
    color: $color-text-gray;
    @include transition(color);

    @include hover {
      color: $color-text;
    }

    .svgsprite {
      width: 100%;
      height: 100%;
    }
  }
}