block config
  - 
    const nav1 = [
      'О компании',
      'Каталог',
      'Оплата и доставка',
      'Контакты',
    ]
    const nav2 = [
      'Статьи',
      'Фото продукции',
      'Видео',
    ]

    const products = [
      {
        image: 'assets/img/products/1.jpg',
        title: 'Шампуры-самокруты МВШ-5',
        price: '4 000 ₽',
        priceOld: '4 600 ₽',
        text: 'Компактный набор из пяти шампуров. Идеален для пикника в небольшой компании.',
        count: 1,
        cost: '4 000 ₽',
      },
      {
        image: 'assets/img/products/2.jpg',
        title: 'Стартер для угля',
        price: '1 950 ₽',
        priceOld: '2 300 ₽',
        text: 'Предназначен для быстрого и безопасного приготовления углей. Позволяет быстро разжечь угли не применяя химических жидкостей, в любую погоду — в дождь или снег.',
        inCart: true,
        count: 2,
        cost: '3 900 ₽',
      },
      {
        image: 'assets/img/products/3.jpg',
        title: 'Универсальный механизм вращения',
        price: '14 000 ₽',
        text: 'Предназначен для эксплуатации со всеми видами шампуров, а также с валиками для гриль-булочек. Комплектуется мотором, работающим от сети.',
        count: 1,
        cost: '14 000 ₽',
      },
      {
        image: 'assets/img/products/4.jpg',
        title: 'Шампуры-самокруты МВШ-9',
        price: '5 600 ₽',
        cost: '5 600 ₽',
        priceOld: '6 500 ₽',
        text: 'Набор из девяти шампуров для большой компании и большого праздника.',
        count: 1,
      },
      {
        image: 'assets/img/products/5.jpg',
        title: 'Валик для гриль-булочки',
        price: '1 500 ₽',
        cost: '3 000 ₽',
        priceOld: '2 000 ₽',
        text: 'Валик для гриль-булочки предназначен для приготовления теста на углях.',
        count: 2,
      },
    ]

include ../_includes/mixins/svgsprite
include ../_includes/mixins/picture
include ../../ui/breadcrumbs/breadcrumbs

include ../../ui/input/input
include ../../ui/input/input-number/input-number
include ../../ui/input/input-mask/input-mask
include ../../ui/input/input-tel/input-tel
include ../../ui/input/multiselect/multiselect
include ../../ui/input/datepicker/datepicker
include ../../ui/input/input-file/input-file
include ../../ui/input/checkbox/checkbox
include ../../ui/checkbox-group/checkbox-group
include ../../ui/btn/btn
include ../../ui/group-tab/group-tab
include ../../ui/group-tab-radio/group-tab-radio
include ../../ui/popup/popup
include ../../ui/pagination/pagination
include ../../ui/accordion/accordions
include ../../ui/accordion/accordion-item
include ../../ui/form-message/form-message
include ../../ui/video/video
include ../../ui/toggle-switch/toggle-switch
include ../../ui/listing/page/page-preloader
include ../../ui/listing/empty-results/empty-results

include ../_includes/mixins/product-card
include ../_includes/mixins/product-review
include ../_includes/mixins/article-card
include ../_includes/mixins/promo-alert
include ../_includes/mixins/office-nav
include ../_includes/mixins/order-product-list
include ../_includes/mixins/checkout-summary

doctype html
html(lang="ru" data-zoom='100')
  head
    block head
      include ../_includes/head
      link(href="/src/scss/fonts/nt-somic/nt-somic.css" rel='stylesheet')


  body.body(class=bodyClass)
    block header
      include ../_includes/blocks/header

    main.content
      block content

    block footer
      include ../_includes/blocks/footer

    block popups
      include ../_includes/blocks/login
      include ../_includes/blocks/register

    block styles
      link(href="/src/scss/common.scss" rel='stylesheet')

    block scripts
      script(src="/src/js/app.js" type="module" async)

