.breadcrumbs {
  display: flex;
  gap: .6rem;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  /* for Firefox */
  font-size: 1.2rem;
  line-height: 1;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  .container & {
    padding-inline: map-get($container-paddings, sm);
    margin-inline: -#{map-get($container-paddings, sm)};

    @each $media in $medias {
      @include up($media) {
        padding-inline: map-get($container-paddings, $media);
        margin-inline: -#{map-get($container-paddings, $media)};
      }
    }
  }

  &__item {
    &:not(:last-child) {
      &::after {
        content: '/';
        margin-left: .6rem;
        opacity: .5;
      }
    }
  }

  &__link {
    opacity: .5;
    @include transition(opacity);

    @include hover {
      opacity: 1;
    }
  }
}