-
  const articles = [
    {
      image: 'assets/img/articles/1.jpg',
      title: 'Мы на Первом канале... или видеоинструкция о том, как делать нельзя',
      text: 'Когда до нас дошла весть, что сюжет о нашей продукции был показан на Самом Главном Канале Страны, мы одновременно и обрадовались, и испугались. Ну как раскритикуют? Как оказалось, зря испугались.',
    },
    {
      image: 'assets/img/articles/2.jpg',
      title: 'Готовь сани летом, а... шампуры зимой',
      text: 'Совсем скоро 2022 год и самые дальновидные уже задумались над тем, что же подарить друзьям и родственникам на Новый год. Одни стараются подобрать презенты по интересам — рыбаку рыбаково, кулинару — кулинарово. Вторые делают ставку на полезные в быту предметы, третьи, наоборот, на разнообразные безделушки.',
    },
  ]
.article-list
  each item in articles 
    +article-card(item)
