.product-list._full.swiper.js-product-slider
  .swiper-wrapper
    each item in products
      .swiper-slide
        +product-card(item)
    each item in products
      .swiper-slide
        +product-card(item)
