.main-text
  p.main-text__intro.
    Компания «Самокруты» — отечественный производитель товаров для пикника и вкусного отдыха. 
    Компания работает и активно развивается с 2012 года.
  .main-text__rte
    p.
      Наши товары — это действительно «крутые» и оригинальные вещи. 
      Они будут вашими незаменимыми помощниками на пикнике, на природе и в загородном доме. 
      Вы вряд ли найдете лучший подарок для ваших друзей и партнеров.
