extends _layouts/default

block append config
  - const pagetitle = "Контентная"

block append head
  if !isDev
    link(href="css/critical/content.css" rel='stylesheet')

block append styles
  link(href="/src/scss/content.scss" rel='stylesheet')

block content
  .page-header.container
    +breadcrumbs(['Главная', 'Статьи', 'Заголовок статьи. Пикник без проблем'])

  .main-grid
    article.article-grid
      section.container._narrow.article-intro
        h1.h1 Заголовок статьи. Пикник без проблем
        +picture({
          url: 'assets/img/content/intro.jpg',
          alt: 'Заголовок статьи. Пикник без проблем',
          _0: {width: 359, height: 167},
          _400: {width: 727, height: 338},
          _768: {width: 983, height: 457},
          _1024: {width: 1239, height: 576},
          _1280: {width: 1035, height: 481},
        }).article-intro__picture
        p.article-intro__lead Компания друзей и родных, <a href="#">хорошее настроение</a> и великолепная погода — что ещё нужно для отменного отдыха на майские праздники?! Думается, многие мужчины воскликнут: «Еще бы шашлык сам собой приготовился. Причем идеально — не пригорел и равномерно прожарился».

      section.container._narrow.rte
        h2 H2 Подзаголовок статьи
        h3 H3 Подзаголовок статьи
        h4 H4 Подзаголовок статьи
        p.
          Если вы любите жарить шашлык, с радостью жертвуете этому процессу все время 
          на любом пикнике — будь то семейное мероприятие или же дружеские посиделки, 
          то не читайте дальше. Вам будет неинтересно. 
          Но если вы давно мечтаете перестать «стоять у плиты» в то время, как другие отдыхают, 
          болтают и вообще весело проводят время, то позвольте представить вашему вниманию — 
          шампуры-самокруты! <a href="#">Специальный механизм</a> заставляет их вращаться, 
          обеспечивая равномерное прожаривание каждого кусочка и образование аппетитной 
          хрустящей корочки. Больше не нужно сидеть у костра все майские праздники 
          и глотать едкий дым, пытаясь создать идеальный шашлык. 
        h3 Список
        ul
          li Для говяжьего шашлыка уксус и майонез — самые неподходящие маринады. Уксус сделает блюдо сухим и жестким, а майонез пропитает мясо веществами, которые в процессе приготовления превратятся в канцерогены.
          li Для пущей нежности говядину перед маринованием следует слегка отбить.
          li Для говяжьего шашлыка особенно актуален размер кусочков — он должен быть средним. Слишком большие ломти внутри останутся полусырыми, слишком маленькие — высохнут и будут жесткими.
        h3 Нумерованный список
        ol
          li Для говяжьего шашлыка уксус и майонез — самые неподходящие маринады. Уксус сделает блюдо сухим и жестким, а майонез пропитает мясо веществами, которые в процессе приготовления превратятся в канцерогены.
          li Для пущей нежности говядину перед маринованием следует слегка отбить.
          li Для говяжьего шашлыка особенно актуален размер кусочков — он должен быть средним. Слишком большие ломти внутри останутся полусырыми, слишком маленькие — высохнут и будут жесткими.

      section
        include _includes/blocks/main-slider

      section.container._narrow.rte
        h2 Подзаголовок статьи
        p Если вы любите жарить шашлык, с радостью жертвуете этому процессу все время на любом пикнике — будь то семейное мероприятие или же дружеские посиделки, то не читайте дальше. Вам будет неинтересно. Но если вы давно мечтаете перестать «стоять у плиты» в то время, как другие отдыхают, болтают и вообще весело проводят время, то позвольте представить вашему вниманию — шампуры-самокруты! Специальный механизм заставляет их вращаться, обеспечивая равномерное прожаривание каждого кусочка и образование аппетитной хрустящей корочки. Больше не нужно сидеть у костра все майские праздники и глотать едкий дым, пытаясь создать идеальный шашлык. 

      section.container._narrow
        figure.article-figure
          +picture({
            url: 'assets/img/content/picture.jpg',
            alt: 'Alt text',
            _0: {width: 359},
            _400: {width: 727},
            _768: {width: 983},
            _1024: {width: 1239},
            _1280: {width: 1035},
          })
          figcaption.article-figure__caption Опциональный текст

      section.container._narrow
        blockquote.article-quote
          +svgsprite('comment')(aria-hidden="true")
          p.article-quote__content Цитата. Если вы любите жарить шашлык, с радостью жертвуете этому процессу все время на любом пикнике — будь то семейное мероприятие или же дружеские посиделки, то не читайте дальше.

      section.container._narrow
        +video-common({
          video: 'assets/video/1.mp4',
          poster: 'assets/video/poster.jpg',
          picture: {
            url: 'assets/video/poster.jpg',
            _0: {width: 359, height: 167},
            _400: {width: 727, height: 338},
            _768: {width: 983, height: 457},
            _1024: {width: 1239, height: 576},
            _1280: {width: 1035, height: 481},
          },
          hint: 'Локальное видео',
        })

      section.container._narrow
        +video-common({
          iframe: 'https://www.youtube.com/embed/o-hmPl7CX4M?si=KqmANyUoLGXq3Lev',
          picture: {
            url: 'assets/video/poster.jpg',
            _0: {width: 359, height: 202},
            _400: {width: 727, height: 409},
            _768: {width: 983, height: 553},
            _1024: {width: 1239, height: 697},
            _1280: {width: 1035, height: 582},
          },
          hint: 'YouTube видео',
        })

      section.container._narrow.rte
        h2 Подзаголовок статьи
        p Если вы любите жарить шашлык, с радостью жертвуете этому процессу все время на любом пикнике — будь то семейное мероприятие или же дружеские посиделки, то не читайте дальше. Вам будет неинтересно. Но если вы давно мечтаете перестать «стоять у плиты» в то время, как другие отдыхают, болтают и вообще весело проводят время, то позвольте представить вашему вниманию — шампуры-самокруты! Специальный механизм заставляет их вращаться, обеспечивая равномерное прожаривание каждого кусочка и образование аппетитной хрустящей корочки. Больше не нужно сидеть у костра все майские праздники и глотать едкий дым, пытаясь создать идеальный шашлык. 

      section.container._narrow
        include _includes/blocks/share


    section.main-grid__section
      .main-grid__section__inner.container
        include _includes/blocks/products
        a(href="#").btn.main-grid__btn
          span Все товары
          +svgsprite('arrow-right').btn__icon
