extends _layouts/default

block append config
  - const pagetitle = "Список страниц"

block append head
  if !isDev
    link(href="css/critical/main-page.css" rel='stylesheet')

block append styles
  link(href="/src/scss/main-page.scss" rel='stylesheet')
  style.
    .dev-links {
      font-size: 2rem; 
      margin-top: 2rem;
    }
    .dev-muted {
      color: lightgray;
    }

block content
  .container.dev-links
    ul
      li
        a(href='main-page.html') Главная
      li
        a(href='content.html') Контентная
      li
        a(href='catalog.html') Каталог
      li
        a(href='category.html') Каталог - категория
      li
        a(href='product.html') Каталог - товар
      li
        a(href='contacts.html') Контакты
      li
        a(href='articles.html') Статьи
      li
        a(href='gallery.html') Галерея
      li
        a(href='video.html') Видео
      li
        a(href='checkout.html') Корзина, оформление заказа
      li
        span.dev-muted Заказ оформлен
      li
        span.dev-muted Авторизация/регистрация
      li
        a(href='office-profile.html') ЛК - профиль
      li
        a(href='office-orders.html') ЛК - заказы
      li
        a(href='office-reviews.html') ЛК - отзывы
      li
        a(href='404.html') 404
      li
        a(href='503.html') 503
      li
        br
        a(href='ui.html') UI

      //-
        li
          a(href='ui.html') Ui kit
        li
          a(href='vue.html') Vue
        li
          a(href='listing.html') Listing
