extends _layouts/default

block append config
  - const pagetitle = "ЛК - отзывы"

block append head
  if !isDev
    link(href="css/critical/office-profile.css" rel='stylesheet')

block append styles
  link(href="/src/scss/office.scss" rel='stylesheet')

block content

  .container.page-header
    +breadcrumbs(['Главная', 'Личный кабинет'])

  +office-nav('reviews')

  .office.container
    .product-reviews
      -
        var data = [
          {
            product: 'Шампуры-самокруты МВШ-5',
            date: '2 апреля 2021',
            stars: 5,
            like: 'Всё',
            dislike: '',
            text: 'Очень удобно. Прекрасный подарок мужу!',
            comment: '',
            published: true,
          },
          {
            product: 'Стартер для угля',
            date: '4 мая 2021',
            stars: 4,
            like: 'Мясо прожаривается равномерно',
            dislike: 'Тонкий металл',
            text: 'Первая ручка с механизмом расплавилась. Следите за расстоянием между ручкой и огнем.',
            comment: '',
            published: false,
          },
          {
            product: 'Универсальный механизм вращения',
            date: '19 июня 2018',
            stars: 3,
            like: 'Понравилось то, что крутить не нужно.',
            dislike: 'Металл очень тонкий.',
            text: 'В целом нормально, но за эти деньги могло быть и лучше. Купил из-за того что нет времени делать самому. Обошлось бы в два раза дешевле.',
            comment: 'Спасибо за отзыв. Мы уверены, что вы смогли бы сделать подобную конструкцию дешевле. В интернете масса подобных примеров. Но наше производство все-таки не мелкосерийное, поэтому «гаражный» вариант «на коленке» нам не подходит. Мы арендуем помещения, платим заработную плату и налоги, закладываем средства на развитие и рекламу. Поэтому себестоимость изделия составляет ровно половину от конечной цены. Вопрос увеличения толщины металла лежит в этой же плоскости — соотношение цены и качества. На жесткости конструкции это вряд ли скажется, а вот к увеличению стоимости неизбежно приведет.',
            published: true,
          },
        ]
      each item in data
        +product-review(item)
