extends _layouts/default

block append config
  - const pagetitle = "Фотогалерея"
  -
    var data = [
      'assets/img/photos/1.jpg',
      'assets/img/photos/2.jpg',
      'assets/img/photos/3.jpg',
      'assets/img/photos/4.jpg',
      'assets/img/photos/5.jpg',
      'assets/img/photos/6.jpg',
      'assets/img/photos/7.jpg',
      'assets/img/photos/8.jpg',
    ]

block append head
  if !isDev
    link(href="css/critical/photos.css" rel='stylesheet')

block append styles
  link(href="/src/scss/photos.scss" rel='stylesheet')

block content

  .container.page-header
    +breadcrumbs(['Главная', 'Фотогалерея'])
    h1.h1 Фотогалерея
    p.page-header__lead Proactively optimize enterprise quality vectors vis-a-vis 24/365 portals. Seamlessly fashion leveraged process improvements rather than next-generation networks.

  .main-grid
    section.main-grid__section
      .main-grid__section__inner.container 
        .photos 
          each item in [...data, ...data]
            a(href=item data-fancybox="gallery").photos__item
              +picture({
                url: item,
                alt: 'Alt text',
                _0: {width: 359},
                _400: {width: 727},
                _768: {width: 480},
                _1024: {width: 397},
                _1280: {width: 332},
              })

    section.main-grid__section
      .main-grid__section__inner.container
        h3.h3.main-grid__h3 Рекомендуем
        include _includes/blocks/products
        a(href="#").btn.main-grid__btn
          span Все товары
          +svgsprite('arrow-right').btn__icon
