.pagination-common {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-surface-surface);
    border: 0.1rem solid var(--button-surface-surface-outline);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    @include transition(color);

    @include up(md) {
      font-size: 2rem;
    }

    @include up(xl) {
      font-size: 2.4rem;
    }

    &._ellipsis {
      transform: translateY(-.25em);
      color: $color-text-gray-50;
      pointer-events: none;
      letter-spacing: 0.1em;

      @include down(sm) {}

    }

    &._active {
      color: $color-primary;
      pointer-events: none;
    }

    &:not(:disabled) {
      @include hover() {
        color: $color-primary-hover;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .6;
    }
  }

  &__show-more {
    margin-inline: auto;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &._hidden {
      display: none;
    }
  }

  &._hidden {
    display: none;
  }

  &__wrap {
    margin-top: 3.6rem;

    @include up(md) {
      margin-top: 4.8rem;
    }
  }
}