.photos {
  $root: &;

  @include up(md) {
    column-count: 2;
    column-gap: 2.4rem;
  }

  @include up(lg) {
    column-count: 3;
  }

  @include up(xl) {
    column-count: 4;
  }

  &__item {
    display: block;
    margin-bottom: 2.4rem;
    @include transition(opacity);

    @include hover {
      opacity: .8;
    }
  }
}