@use 'sass:math';

@import "base/vars";
@import "base/mixins";
@import "base/grid";

@import "components/pages/catalog/catalog-filter";
@import "components/pages/catalog/catalog-checkbox";

.catalog {
  $root: &;

  &__sticky {
    z-index: 2;
    position: sticky;
    margin-top: -1.2rem;
    padding-top: 1.2rem;
    margin-bottom: 2.4rem;
    background: $color-bg;
    top: map-get($header-height, sm);

    @each $key in $medias {
      @include up($key) {
        top: map-get($header-height, $key);
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2.4rem;
      height: 2.4rem;
      background: linear-gradient(to bottom, $color-bg 0%, transparent 100%);
    }

  }

  &__content {
    z-index: 1;
  }
}